body, html {
  height: 100%;
}
.slide {
  height: 50%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}
.bg-img1 {
  background-image: url(./images/main_bg.png);
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bgTint {
  background-color: grey;
  background-blend-mode: multiply;
}

.bg-img2 {
  background-image: url(./images/3DScene_Main.PNG);
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img3 {
  background-image: url(./images/main_bg.png);
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#name_label {
  font-family: "Coolvetica";
  margin: auto;
  width: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

#Name{
  font-size: 6em;
}

.section-headers {
  font-family: "Coolvetica";
  color: white;
}

.center{
  text-align: center;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-center{
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative;
  background-color: black;
}

.para-center{
  text-align: center;
  position: relative;
  margin: auto;
  width: 50%;
  left: 50%;
  transform: translate(-100%, 25%);
}

.about-img{
  border-radius: 50%;
  position: relative;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 15%);
}

.para-style{
  font-family: "Coolvetica";
  color: white;
  font-size: larger;
}

.card-allign{
  position: relative;
  margin: auto;
  width: 50%;
  left: 50%;
  transform: translate(-100%, 15%);
}

.card-title{
  font-family: "Coolvetica";
  text-align: center;
}

.btn{
  position: relative;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0%);
}

@font-face {
  font-family: "Coolvetica";
  src: url(./fonts/coolvetica_rg.otf);
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}